<div class="row">
    <div class="col-lg-2">
        <button class="btn btn-primary" routerLink="/orders/NewOrders"> New</button> <br>
        <button class="btn btn-primary" routerLink="/orders/preparingOrder"> PREPARING</button> <br>
        <button class="btn btn-primary" routerLink="/orders/readyOrders"> READY</button> <br>
        <button class="btn btn-primary" routerLink="/orders/PastOrders"> PAST ORDERS</button> <br>
    </div>
    <div class="col-lg-10">
            PREPARING
    </div>
</div>