<!-- Header Start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin:0px 0;">
    <a class="navbar-brand" href="javascript:void(0)"><img src="../../../assets/img/foodie_logo_small.png"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse pt-md-0 pb-md-0" id="navb">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" style="font-size: 20px;">MENU DETAILS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" style="font-size: 20px;">Outlet</a> 
        </li>
        
      </ul>
      <form class="form-inline my-0 my-lg-0 mnuBtns">
        <a href=""> <button class="btn btn-warning">FAQ's</button> </a>
    <mat-icon matBadge="22" matBadgeColor="accent"> alert </mat-icon>
          <a href=""><i class="far fa-bell"></i></a>
          <a href=""><i class="fas fa-power-off"></i></a>
        </form>
    </div>
  </nav>

  <div class="subnav">

<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="row">
      <div class="col-md-6 col-sm-6">
    <p style="float: left" class="mb-md-0"><a  class="btn btn-default roundedBtn" routerLink="/orders/NewOrders"> <i class="fas fa-bars"></i> </a>ORDER</p>
    <p style="float: left;" class="mb-md-0"><a  class="btn btn-default roundedBtn" routerLink="/menuDetails/menu"> <i class="fas fa-utensils"></i> </a>MENU</p>
    <p style="float: left;" class="mb-md-0"><a  class="btn btn-default roundedBtn" routerLink="/orders/NewOrders"> <i class="far fa-user"></i> </a>PROFILE</p>
    <p style="float: left;" class="mb-md-0"><a  class="btn btn-default roundedBtn" routerLink="/orders/NewOrders"><i class="fas fa-question"></i></a>HELP</p>
      </div>
      <div class="col-md-6 col-sm-6"> </div>
     
    </div>

  </div>

  
</div>



  </div>

<!-- Header Ends -->