<div class="row">
   <div class="col-md-2">
      <h4 class="pl-4 pt-3"> Categories </h4>
      <ul style="list-style-type:none; " class="text-left categoryMnuStyle">
         <li><a class="a" href="#Quick Bites">Quick Bites</a></li>
         <li><a class="a" href="#Salads">Salads</a></li>
         <li><a class="a" href="#Soups">Soups</a></li>
         <li><a class="a" href="#Indian">Indian</a></li>
         <li><a class="a" href="#Chinese">Chinese</a></li>
         <li><a class="a" href="#Arabian">Arabian</a></li>
         <li><a class="a" href="#Continental">Continental</a></li>
         <li><a class="a" href="#Desserts">Desserts</a></li>
         <li><a class="a" href="#Beverages">Beverages</a></li>
      </ul>
   </div>

   <div class="col-md-10" style="background: white;">

      <div class="menu-body__">
         <div class="row mt-3">
            <div class="col-lg-7">
               <div class="input-group md-form form-sm form-1 pl-0">
                  <div class="input-group-prepend">
                     <span class="input-group-text purple lighten-3" id="basic-text1"><i
                           class="fas fa-search text-white" aria-hidden="true"></i></span>
                  </div>
                  <input class="form-control my-0 py-1" [(ngModel)]="SearchMenu" type="text" placeholder="Search"
                  aria-label="Search" (ngModelChange)="menuFilter()">           
               </div>
            </div>
            <div class="col-lg-5">

               <div class="row">
                  <div class="col-lg-6">
                     <mat-checkbox class="chk pt-2 d-flex">Show Out of stock</mat-checkbox>
                  </div>
                  <div class="col-lg-6">
                     <button type="button" class="btn btn-outline-success" style="margin-top:0px !important; ">ADD NEW
                        ITEM</button>
                  </div>
               </div>
            </div>

         </div>


         <div class="ScrollStyle">
            <div *ngFor="let data of ELEMENT_DATA; let i = index;" class="menu-section">
               <h6 class="menu-section-title">
                  <h2 class="halfLine"><b>{{data.MainCourse}}</b></h2>

               </h6>
               <!-- Item starts -->
               <div *ngFor="let subData of data.Subcourse; let i = index;" class="menu-item">


                  <div class="row m-0 p-0">
                     <div class="col-md-6"><span *ngIf="subData.item_category =='veg'">
                           <img src="../../../assets/img/veg.png" class="category_img" />
                        </span>
                        <span *ngIf="subData.item_category =='nonveg'">
                           <img src="../../../assets/img/nonveg.png" class="category_img" />
                        </span><b class="itemStyle">{{subData.dish_name}}</b>

                        <div class="menu-item-description">
                           <h5>₹{{subData.dish_price}}</h5>
                        </div>
                     </div>

                     <div class="col-md-3">
                        <div class="menu-item-price">
                           <form class="validate-form" [formGroup]="menuFormGroup">
                              <mat-slide-toggle (click)='openModal(template,subData)' formControlName="togle">
                              </mat-slide-toggle>
                           </form>
                        </div>
                     </div>
                     <div class="col-md-3 edit">
                        <a href="" class="a">Edit</a>
                        <a href="" class="a">Delete</a>
                     </div>
                  </div>



               </div>

            </div>
         </div>

      </div>





   </div>

   <ng-template #template>
         <div class="template">
            <span>Confirm that <b>{{item_data.dish_name}}</b> is out of stock</span>
            <hr>
            <span><b>Choose from the below time frame:</b></span>
            <br>
            <span>You will not receive orders for this item till <b>{{ selection || '8 AM tomorrow morning'}}</b>.</span>
            <br>
            <br>
   
            <mat-radio-group [(ngModel)]="selection" aria-label="Select an option">
               <mat-radio-button class="a" value="End of the Day">End of the Day</mat-radio-button>&nbsp;&nbsp;
               <mat-radio-button class="a" value="6 hrs from now">6 Hrs</mat-radio-button>&nbsp;&nbsp;
               <mat-radio-button class="a" value="2 hrs from now">2 Hrs</mat-radio-button>&nbsp;&nbsp;
            </mat-radio-group>
            <label class="a">CUSTOM: </label>
            <!-- <mat-form-field id="datepicker togglewidth">
               <b> <input matInput [matDatepicker]="picker1"></b>
               <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
               <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field> -->
            <label>
               <input [owlDateTime]="dt1">
               <span class="trigger" [owlDateTimeTrigger]="dt1">
                   <i class="fas fa-calendar-alt"></i>
               </span>
               <owl-date-time #dt1></owl-date-time>
           </label>
            <br>
            <br>
            <span>*You can make an item out of stock for a maximum of 12 days.</span>
   
            
            <hr>
   
            <div class="row">
               <div class="col-lg-6 col-md-6 col-sm-6">
                  <button class="btn btn-primarycancel" (click)="close()">Cancel</button>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6">
                  <button class="btn btn-primaryconfirm" (click)="modelDataSave()">Confirm</button>
               </div>
   
   
   
            </div>
   
   
         </div>
   
   
   
      </ng-template>

      
<!-- <div class="form-group">
      <label for="datetimepicker"> Date time Picker:</label>
      <angular2-date-picker class="form-control" id="datetimepicker"[(ngModel)]="date" [settings]="settings" style="padding:10px;"></angular2-date-picker>
      </div> -->
      