.red{
  border: 1px solid red;
}


.table {
    width: 100%;
  }


  .mat-elevation-z8{
    width: -webkit-fill-available;
  }
 

  .bg_black
  {
      background-color: black;
  }
  .margin_top_5
  {
      margin-top: 5px;
  }
  
  .padding_5
  {
      padding: 5px;
  }
  .notification_style
  {
     color: white;
     font-size: 10px;
  }
 
  .orderCard
  {
     background-color:  white;
  }
  .orderCard_div
  {
     background-color:  #ecf1f6;
     height: -webkit-fill-available;
  }

  .menu-body {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    color: rgb(92, 92, 92);
  }
   
  .menu-section {
    margin-bottom: 40px;
  }
   
  .menu-section-title {
    font-family: georgia;
    font-size: 50px;
    display: block;
    font-weight:normal;
    margin: 20px 0; 
    text-align: left;
  }

.menu-section-title h2 b{
  font-family: sans-serif  !important;
  font-size: 16px  !important; 
  font-weight:bold !important;
  text-transform: uppercase;
}


h2.halfLine{
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

h2.halfLine:before{
  content: "";
  border: 1px solid #282c3f;
  padding-bottom: 0px;
  position: absolute;
  width: 35%;
  height: 0px !important;
  bottom: 0;
  left: 0;
}




.itemStyle{
  font-size: 15px;
  margin-left: 5px;
}
   
  .menu-item {
    margin: 15px 0;
    font-size: 18px;
  }
   
  .menu-item-name{
    font-family: helvetica;
    font-weight: bold;
    border-bottom: 1px dotted rgb(213, 213, 213);
  }
   
.menu-item-name b{
  font-size: 15px  !important; 
  font-weight:normal !important;
  margin-left: 5px;
}

  .menu-item-description {
    font-style: italic;
    font-size: .9em;
    line-height: 1.5em;
  }
   
  .menu-item-price{
    // float: right;
    text-align: center;
    font-weight: bold;
    font-family: arial;
    // margin-top: -30px;
  }

  .edit{
    float: right;
    font-weight: bold;
    font-family: arial;
    // margin-top: -30px;
  }

  .edit a{
    padding: 3px 8px;
    background: #e3e4e8;
    margin-right:5px;
    font-weight: normal;
    font-size: 12px !important;
  }

  .edit a:hover{
  text-decoration: none !important;
  }

  .a {
    color: black !important;
    font-size: 15px !important;
    margin: 2px !important;
  }

  .margin_10px{
    margin: 25px;
  }
 
  .ScrollStyle
{
    max-height: 500px;
    max-width: 1500px;
    overflow-y: scroll;
}

.category_img{
    width : 15px;
    height : 15px;
}

.categoryMnuStyle{
  color: #3e4152 !important;
}

ul.categoryMnuStyle li a{
  color: #3e4152 !important;
  line-height: 25px;
}

ul.categoryMnuStyle li a:hover{
  color: #ec5f00 !important;
  text-decoration: none;
  cursor: hand;
}




.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: #2eb94c !important;
}


.mat-checkbox-inner-container{
  background-color: #2eb94c !important;
}



// ::ng-deep .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
//   background-color: black;
// }

// ::ng-deep .mat-checkbox-disabled .mat-checkbox-checked .mat-checkbox-background {
//   background-color: green !important;
// }


::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color:#27c24c !important; /* Red background for example */
}
// chk pt-2 d-flex mat-checkbox mat-accent mat-checkbox-checked

::ng-deep.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000 !important;
  display: none;
  overflow: hidden;
  outline: 0;
}

::ng-deep.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990 !important;
  background-color: #000;
}
