  <div class="col-lg-12 col-md-12 col-sm-12 bkcolor">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3  bkcolor">
        <div>
          <span class="ops-metric-card-label">Overview</span>
          <div style="margin-top: 20px;">
            <span class="top-insight-numerator ng-binding ">50</span>
            <span class="top-insight-denominator ng-binding ">/58</span>
          </div>
          <div class="ops-metric-card-label">
            Food Ready
          </div>
          <div class="page bkcolor">
            <p>
              <ngb-progressbar class="progwidth" type="info" [value]="55"></ngb-progressbar>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 bkcolor">

      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 status">
        <div class=" foodpressed">
          <div class="foodcorrect"></div>
          <div class="foodearly">
            <div>
              <span class="food-ready-metrics-legend-red">
                <div class="food-ready-legend-oval foodnotprocessedcolor"></div>
                <span class="food-ready-metrics-count-red ng-binding">0</span>
                Food Ready Not Pressed
              </span>
              <div class="divider "></div>
              <span class="food-ready-metrics-legend-dark">
                <div class="food-ready-legend-oval foodcorrectcolor"></div>
                <span class="food-ready-metrics-count-dark ng-binding">0</span>
                Food Ready Correct
              </span>
              <div class="divider "></div>
              <span class="food-ready-metrics-legend-dark">
                <div class="food-ready-legend-oval foodearlycolor"></div>
                <span class="food-ready-metrics-count-dark ng-binding">1</span>
                Food Ready Pressed Early
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div >
        <span style="padding: 15px;" class="ops-metric-card-label">
          Operational Metrics
        </span>
        <span class="see-details-icon"></span>
        <a routerLink="/orders/reports" class="see-details-text">
          See more details
        </a>
      </div>
    </div>
    <div class="row">
      <div class="ops-metric-card">
        <!-- ngIf: v2OpsMetricsApiFailed -->
        <div class="ops-metric-card-label">Order Edits</div>
        <span class="ops-metric-value ng-binding">{{orderEdits}}%</span>
      </div>
      <div class="ops-metric-card">
        <!-- ngIf: v2OpsMetricsApiFailed -->
        <div class="ops-metric-card-label">Cancelled Orders</div>
        <span class="ops-metric-value ng-binding">{{cancelledOrders}}%</span>
      </div>
      <div class="ops-metric-card">
        <!-- ngIf: v2OpsMetricsApiFailed -->
        <div class="ops-metric-card-label">Accepted Orders</div>
        <span class="ops-metric-value ng-binding">{{acceptedOrders}}%</span>
      </div>
      <div class="ops-metric-card">
        <!-- ngIf: foodReadyMetricsApiFailed -->
        <div class="ops-metric-card-label">Good Food Ready</div>
        <span class="ops-metric-value ng-binding">{{goodFoodReady}}%</span>
      </div>
    </div>
  </div>