<div id="grid" class="container">
  <div class="col-sm-4 profile">
    <div class="card">
      <div class="card__top">
        <img src="../../../assets/img/foodie_logo.png">
        <span> Select Brand </span> 
      </div>
      <div class="card__bottom margin_15px" *ngFor="let data of cardDetails; let i = index;" (click)="cardClick(data)">
        <div >
          <div> Organisation Name: {{data.organisationName}} </div>
          <div> Brand Name: {{data.brandName}} </div>
        </div>        
      </div>
    </div>
  </div>
