label{
    text-align: right;
}

// button{
//     background-color: white;
    
// }
.padding_bottom_15px{
    padding-bottom: 15px; 

}
.APPLY{
    background-color: green;
    color: white;
    
}

.star {
  font-size: 1.5rem;
  color: lightgreen;
}
.filled {
  color: green;
}


