 .bg_black
 {
     background-color: black;
 }
 .margin_top_5
 {
     margin-top: 5px;
 }
 
 .padding_5
 {
     padding: 5px;
 }
 .notification_style
 {
    color: white;
    font-size: 10px;
 }

 .orderCard
 {
    background-color:  white;
 }
 .orderCard_div
 {
    background-color:  #ecf1f6;
    height: -webkit-fill-available;
 }