<div class="row">
    <div class="col-lg-2">
        <button class="btn btn-primary" routerLink="/orders/NewOrders"> New</button> <br>
        <button class="btn btn-primary" routerLink="/orders/preparingOrder"> PREPARING</button> <br>
        <button class="btn btn-primary" routerLink="/orders/readyOrders"> READY</button> <br>
        <button class="btn btn-primary" routerLink="/orders/PastOrders"> PAST ORDERS</button> <br>
    </div>
    <div class="col-lg-10">
        <div  class="row">
            <div class="col-lg-4 orderCard_div" >
                <br>
                <div class="input-group md-form form-sm form-1 pl-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text purple lighten-3" id="basic-text1"><i
                                class="fas fa-search text-white" aria-hidden="true"></i></span>
                    </div>
                    <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
                </div>

                <div class="input-group md-form form-sm form-1 pl-0 bg_black margin_top_5 ">
                    <div class="input-group-prepend">

                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="padding_5 notification_style">There are 3 cancelled orders.</div>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-default">Show</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div *ngIf="orderPresent" style="height: -webkit-fill-available;  overflow-y: scroll;">
                    <div *ngFor="let data of cardDetails; let i = index;"
                        class="input-group md-form form-sm form-1 pl-0  padding_5 margin_top_5 orderCard"
                        (click)="showOrderDetails(data)">
                        <div class="container-fluid">
                            <div class="container-fluid">
                                <h6>
                                    <span>{{data.hotel_location}}</span>
                                </h6>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3 class="text-black">{{data.order_id}}</h3>
                                        <p>{{data.item_quantity}} items <span class="ng-binding">for ₹{{data.order_price}}</span></p>
                                        <p>Received few seconds ago</p>
                                    </div>
                
                                    <div class="col-lg-6">
                                        <!-- <ul class="list-inline text-right">
                                                        <li class="text-center">
                                                            <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode"
                                                                [value]="value">
                                                            </mat-progress-spinner>
                                                            <strong class="text-uppercase text-orange ">
                                                                <span>Assigning</span>
                                                            </strong>
                                                        </li>
                
                                                        <li class="text-right">
                                                            <span>
                                                                Pickup by customer
                                                            </span>
                                                            <span>
                
                                                            </span>
                                                        </li>
                
                                                    </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
            <br>
            <div class="col-lg-6 orderCard">
                 <div *ngIf="orderNumber" class="margin_top_5">
                     <h3><span class="text-blue ng-binding">#{{ orderNumber }} </span>
                        <span class="badge badge-success">New</span> <i class="fa fa-print  fa-sm floatright " ></i> </h3>
                   <span class="floatleft" > {{orderQuantity}} items for ₹{{orderTotal}}</span><span class="floatright">03 May 2019 04:38 PM</span>
                   <br>
                   <hr> 
                </div>
                <div *ngIf="!orderPresent" class="padding_top_50px">
                    <img src="../../../assets/img/noOrder.PNG"/>
                </div> 

                 <div class="row padding_5" *ngFor="let item of orderDetails"  >
                        <div class="col-lg-11" >
                                
                            <h5>    <span *ngIf="item.item_category =='veg'"   >
                                    <img src="../../../assets/img/veg.png" class="category_img"  />
                                </span>
                                <span *ngIf="item.item_category =='nonveg'"  >
                                       <img src="../../../assets/img/nonveg.png" class="category_img" />
                                </span>  {{ item.item_name  }} </h5>
                            <span>{{item.item_main_category  }} > {{ item.item_sub_category  }}</span>
                            <h5>₹ {{ item.item_price }}</h5>
                        </div>
                        <div class="col-lg-1" > <strong>X</strong> {{ item.item_qty }}</div>

                 </div>

            </div>
            <br>
            <br>
            <div class="col-lg-2 margin_top_5 orderCard">
                
               <div *ngIf="orderPresent"  class="row" >
                    <div class="col-lg-2" >
                         
                    </div>
                    <div class="col-lg-10" >
                        <h4><b>GRAND TOTAL</b></h4>
                        ₹  {{ grand_total }} <br><br>
                        <span>Item Total</span> <span class="floatright marginright" >  ₹ {{ item_total }} </span> <br>
                        <span>Packing Charges</span> <span class="floatright marginright" > ₹ {{ package_charges }} </span> <br>
                        <span>GST</span> <span class="floatright marginright" > ₹ {{ GST }} </span> <br>
                        <span>Discount</span> <span class="floatright marginright" > ₹ {{ discount }} </span> <br>
                         
                    </div>
                    <hr>
               </div>
               
            </div>
        </div>
        
    </div>
</div>