<div class="row">
    <div class="col-lg-1 leftPanel pr-0">
        <button matBadge={{newOrderCount}}  matBadgeColor="warn" [matBadgeHidden]="false"
            class="btn btn-outline-dark mr-0 mb-md-3 p-md-0 pt-md-2 pb-md-2"
            (click)="getOrderDetails('new')"><span>NEW</span></button> <br>
        <button matBadge={{prepareOrderCount}}  matBadgeColor="warn" [matBadgeHidden]="false"
            class="btn btn-outline-dark mr-0 mb-md-3 p-md-0 pt-md-2 pb-md-2"
            (click)="getOrderData('preparing')"><span>PREPARING</span></button> <br>
        <button matBadge={{readyOrderCount}}  matBadgeColor="warn" [matBadgeHidden]="false"
            class="btn btn-outline-dark mr-0 mb-md-3 p-md-0 pt-md-2 pb-md-2"
            (click)="getOrderData('ready')"><span>READY</span></button> <br>
        <button matBadge={{dispathOrderCount}}  matBadgeColor="warn" [matBadgeHidden]="false"
            class="btn btn-outline-dark mr-0 mb-md-3 p-md-0 pt-md-2 pb-md-2"
            (click)="getOrderData('pastOrder')"><span>PAST ORDERS</span></button> <br>
    </div>
    <div class="col-lg-11">
        <div class="row">
            <div class="col-lg-3 orderCard_div pr-0 pl-0">
                <br>
                <div class="input-group md-form form-sm form-1 pl-0 ">
                    <div class="input-group-prepend ">
                        <span class="input-group-text purple lighten-3 bg-dark" id="basic-text1"><i
                                class="fas fa-search text-white" aria-hidden="true"></i></span>
                    </div>
                    <input class="form-control my-0 py-1" [(ngModel)]="searchText" type="text" placeholder="Search"
                        aria-label="Search" (ngModelChange)="prodFilter()">
                </div>

                <div class="input-group md-form form-sm form-1 pl-0 bg-dark margin_top_5 ">
                    <div class="input-group-prepend">

                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="padding_5 notification_style padding_top_18px">There are 3 cancelled orders.
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-default">Show</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div *ngIf="orderPresent" class="ScrollStyle"
                    style="height:-webkit-fill-available-150px;  overflow-y: scroll;">


                    <div class="fixHeight">
                        <div *ngFor="let data of cardDetails; let i = index;"
                            class="input-group md-form form-sm form-1 pl-0  padding_5 margin_top_5 orderCard"
                            (click)="showOrderDetails(data)">
                            <div class="container-fluid ml-n4">
                                <div class="container-fluid">
                                    <h6 class="mt-2 text-uppercase">
                                        <span>{{data.hotel_location}}</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <h3 class="text-warning">{{data.order_id}}</h3>
                                            <p>{{data.total_items}} items <span class="ng-binding">for
                                                    ₹{{data.total_amount}}</span></p>
                                            <p style="font-size: 12px; color: rgb(155, 155, 155)">Received few seconds ago</p>
                                        </div>

                                        <div class="col-lg-3"> 

                                               <div class="time text-center"> <countdown #countdown [config]="config" (finished)="finishTest()">
                                                        <div class="test_heading"> $!m!:$!s!</div>
                                                </countdown>
                                                <div class="processInfo "><i class="fa fa-hourglass-start" aria-hidden="true"></i>
                                                
                                            </div></div>
                                                
                                            <!-- <ul class="list-inline text-right">
                                                        <li class="text-center">
                                                            <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode"
                                                                [value]="value">
                                                            </mat-progress-spinner>
                                                            <strong class="text-uppercase text-orange ">
                                                                <span>Assigning</span>
                                                            </strong>
                                                        </li>
                
                                                        <li class="text-right">
                                                            <span>
                                                                Pickup by customer
                                                            </span>
                                                            <span>
                
                                                            </span>
                                                        </li>
                
                                                    </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <br>
            <div class="col-lg-6 orderCard ">

                
                <div *ngIf="orderNumber" class="margin_top_5 pt-3">
                    <h3><span class="text-blue ng-binding">#{{ orderNumber }}</span>
                        <span *ngIf="menu_Status == 'new'" class="badge badge-secondary">New</span>
                        <span *ngIf="menu_Status == 'preparing'" class="badge badge-warning">PREPARING</span>
                        <span *ngIf="menu_Status == 'ready'" class="badge badge-info">FOOD READY</span>
                        <span *ngIf="menu_Status == 'pastOrder'" class="badge badge-success">PICKED UP</span>
                        <!-- <countdown #countdown [config]="config" (finished)="finishTest()">
                            <div class="test_heading">Time left - $!m!:$!s!</div>
                         </countdown>  -->
                        <i class="fa fa-print  fa-sm floatright "></i> </h3>
                    <span class="floatleft"> {{orderQuantity}} items for ₹{{orderTotal}}</span><span
                        class="floatright">03 May 2019 04:38 PM</span>
                    <br>
                    <hr class="mb-0">
                </div>


                <div *ngIf="menu_Status == 'pastOrder'" class="tracker">

                        <div class="trackingOrder p-2">
                            <div class="toIcon"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                            <div class="toDetails">
                                <p class="mb-0">11:43 AM</p>
                                <p class="mb-0">Placed</p>
                            </div>
                            <div class="toIcon_2"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </div>
                        </div>
    
    
                        <div class="trackingOrder p-2">
                            <div class="toIcon"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                            <div class="toDetails">
                                    <p class="mb-0">11:43 AM</p>
                                    <p class="mb-0">Confirmed</p>
                            </div>
                            <div class="toIcon_2"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </div>
                        </div>
    
    
                        <div class="trackingOrder p-2">
                            <div class="toIcon"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                            <div class="toDetails">
                                    <p class="mb-0">11:43 AM</p>
                                    <p class="mb-0">Dispatched</p>
                            </div>
                            <div class="noIcon"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </div>
                        </div>
    
                    </div>


        <div class="menuItems">
                <div *ngIf="!orderPresent" class="padding_top_50px">
                    <img src="../../../assets/img/noOrder.PNG" />
                </div>

                <div class="row padding_5 " *ngFor="let item of orderDetails">
                    <div class="col-lg-11">
                        <h5> <span *ngIf="item.item_category =='Veg'">
                                <img src="../../../assets/img/veg.png" class="category_img" />
                            </span>
                            <span *ngIf="item.item_category =='nonveg'">
                                <img src="../../../assets/img/nonveg.png" class="category_img" />
                            </span> {{ item.dish_name  }} </h5>
                        <span>{{item.item_main_category  }} {{ item.item_sub_category  }}</span>
                        <h5>₹ {{ item.item_price }}</h5>
                    </div>
                    <div class="col-lg-1"> <strong>X</strong> {{ item.item_qty }}</div>
                </div>
            </div>



            <div class="btn-group btn-group-lg m-0 btn-block" *ngIf="menu_Status == 'new' && orderPresent">
                <button type="button" class="btn btn-block btn-primary mr-0 noMargine"
                    (click)="orderStatus('reject')">Reject</button>
                <button type="button" class="btn btn-block btn-info ml-0 noMargine" (click)="orderStatus('accept')">Accept</button>
            </div>

            <div class="btn-group btn-group-lg m-0 btn-block" *ngIf="menu_Status == 'preparing' && orderPresent">
                <button type="button" class="btn btn-block btn-primary mr-0 noMargine"
                   (click)="orderStatus('cancel_prepare')">Cancel</button>
                <button type="button" class="btn btn-block btn-info ml-0 noMargine" (click)="orderStatus('ready')">Order Ready</button>
            </div>
            
            <div class="btn-group btn-group-lg m-0 btn-block" *ngIf="menu_Status == 'ready' && orderPresent">
                <button type="button" class="btn btn-block btn-primary mr-0 noMargine"
                  (click)="orderStatus('cancel_ready')">Cancel</button>
                <button type="button" class="btn btn-block btn-info ml-0 noMargine" (click)="orderStatus('dispatch')">Dispatch</button>
            </div>
            
            <!-- <div class="btn-group btn-group-lg m-0 btn-block" *ngIf="menu_Status == 'pastOrder' && orderPresent">
                <button type="button" class="btn btn-block btn-primary mr-0 noMargine"
                  (click)="orderStatus('cancel_ready')">Cancel</button>
                <button type="button" class="btn btn-block btn-info ml-0 noMargine" (click)="orderStatus('dispatch')">Dispatch</button>
            </div> -->




            <!-- <div class="row" *ngIf="menu_Status == 'new' && orderPresent">
                <div class="col-lg-6">
                    <button class="btn btn-danger btn-md" (click)="orderStatus('reject')">Reject</button>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-success" (click)="orderStatus('accept')">Accept</button>
                </div>
            </div>

                <div class="row" *ngIf="menu_Status == 'preparing' && orderPresent">
                    <div class="col-lg-6">
                        <button class="btn btn-danger" (click)="orderStatus('cancel_prepare')">Cancel</button>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-warning" (click)="orderStatus('ready')">Order Ready</button>
                    </div>
                </div>
                <div class="row" *ngIf="menu_Status == 'ready' && orderPresent">
                    <div class="col-lg-6">
                        <button class="btn btn-danger" (click)="orderStatus('cancel_ready')">Cancel</button>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-success" (click)="orderStatus('dispatch')">Dispatch</button>
                    </div>
                </div> -->




                <!-- <div class="row" *ngIf="menu_Status == 'pastOrder'">
                    <div class="col-lg-6">
                        <button class="btn btn-primary" (click)="orderStatus('cancel_ready')">Cancel</button>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" (click)="orderStatus('dispatch')">Dispatch</button>
                    </div>
                </div> -->


                


            </div>
            <br>

            <div class="col-lg-3 orderCard">

                <div *ngIf="orderNumber" class="row"> 

                    <div class="col-lg-4">
                        
                        <div class="processInfo mt-2"> <i class="fa fa-money" aria-hidden="true"></i>
                        
                    </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="pt-3 pr-3">
                            <h4><b>GRAND TOTAL</b></h4>

                            <span style="font-size: 18px; font-weight: bold;">₹ {{grand_total}} </span><br><br>
                            <span>Item Total</span> <span class="floatright marginright"> ₹ {{ item_total }} </span>
                            <br>
                            <span>Packing Charges</span> <span class="floatright marginright"> ₹ {{ package_charges }}
                            </span> <br>
                            <span>GST</span> <span class="floatright marginright"> ₹ {{ GST }} </span> <br>
                            <span>Discount</span> <span class="floatright marginright"> ₹ {{ discount }} </span> 

                        </div>
                    </div>
                   
                </div>

                <hr>


                <div class="row DeliveryDetails"> 
                        <div class="col-lg-4">
                            <div class="processInfo mt-2"> <i class="fa fa-motorcycle" aria-hidden="true"></i>

                        </div>
                        </div>
                        <div class="col-lg-8">
                                <div class="pt-3 pr-3">
                                        <h4>DELIVERY EXECUTIVE</h4>
                                        <span>{{delivery_Person_Name}}</span><br>
                                        <span> <i class="fa fa-phone-square" aria-hidden="true"></i>

                                             {{delivery_Person_No}}</span>
                                    </div>
                            
                        </div>
                       
                    </div>
                    <hr>  


                    <div class="row DeliveryDetails"> 
                            <div class="col-lg-4">
                                <div class="processInfo mt-2"> <i class="fa fa-user-o" aria-hidden="true"></i>

                            </div>
                            </div>
                            <div class="col-lg-8">
                                    <div class="pt-3 pr-3">
                                            <h4>CUSTOMER DETAILS</h4>
                                            <span>{{customer_Name}}</span><br>
                                            <span><i class="fa fa-phone-square" aria-hidden="true"></i>

                                                 {{customer_No}}</span>
                                        </div>
                                
                            </div>
                           
                        </div>
                        <hr>  






            </div>
        </div>

    </div>
</div>